.container {
    background-color: #00000080;
    height: 94vh;
    margin-right: 1rem;
    width: 20%;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;


    font-family: var(--font-mono);
    font-size: 0.85rem;
}

.container p {
    color: white;
}